.Footer {
    background-color: #282c34;
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  .Footer-contact {
    margin-bottom: 20px;
  }
  
  .Footer-contact h2 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .Footer-contact p {
    font-size: 1rem;
    margin: 5px 0;
  }
  